/*
	GLOBAL
*/

body {
	font-size: 12px;
	font-family: 'Apercu', sans-serif;
	background: black;
	color: white;
	letter-spacing: 2px;

	h2 {
		font-size: 24px;
	}

	p {
		font-size: 16px;
	}

	button {
		font-size: 18px;
		padding: 20px;
		color: white;
		background: black;
		border: 3px solid black;
		appearance: none;
		font-family: 'Apercu', sans-serif;
		cursor: pointer;
		cursor: hand;
		@include transition();
	}
}