/*
	GLOBAL
*/

body {
	font-size: 12px;
	font-family: 'Apercu', sans-serif;
	background: black;
	color: white;
	letter-spacing: 2px;

	h1 {
		font-size: 32px;
		font-weight: normal;
	}

	h2 {
		font-size: 14px;
		font-weight: normal;
	}

	button {
		font-size: 12px;
		padding: 20px;
		color: white;
		letter-spacing: 2px;
		background: black;
		border: 3px solid black;
		appearance: none;
		font-family: 'Apercu', sans-serif;
		cursor: pointer;
		cursor: hand;
		@include transition();
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		text-align: center;

		.message {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
			& > * {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
}