/*
	PHOTOBOOTH
*/

.PhotoBooth {
	.webcam {
		display: none;
	}
	.input {
		display: none;
	}
	.buttons {
		position: fixed;
		top: 30px;
		left: 30px;
		width: 100%;
		display: block;
		overflow: visible;
		li {
			float: left;
			margin: 0 5px;
			display: block;
			button {
				display: none;
				&.active {
					display: block;
				}
			} 
		}
	}
}

