/*
	PHOTOBOOTH
*/

.PhotoBooth {
	.webcam {
		display: none;
	}
	.input {
		display: none;
	}
	.buttons {
		position: fixed;
		top: 30px;
		left: 30px;
		li {
			float: left;
			margin: 0 5px;
		}
	}
}

