/*
	START PAGE
*/
.StartPage {
	.overlay {
		&.disabled {
			display: none;
		}
		p {
			padding: 10px 20%;
		}
		.start {
			background: blue;
			border-color: blue;
			&:hover {
				background: rgb(61, 97, 233) !important;
				border-color: rgb(61, 97, 233) !important;
			}
		}
		&.info {
			background: blue;
			display: none;
			&.active {
				display: block;
			}
			.button {
				&:hover {
					background: rgb(61, 97, 233) !important;
					border-color: rgb(61, 97, 233) !important;
				}
			}
		}
	}
}

