<script id="CameraView" type="text/html">
  <h1>{{= i18n('camera') }}</h1>
  <video autoplay="true" id="videoElement"></video>
  <br>
  <button class="capture">{{= i18n('camera.capture') }}</button>
  <br>
  <canvas id="canvasElement"></canvas>
  <br>
  <button class="save">{{= i18n('camera.save') }}</button>
  <button class="retake">{{= i18n('camera.retake') }}</button>
</script>
