<script id="CameraView" type="text/html">
  <h1>{{= i18n('camera') }}</h1>
  <video autoplay="true" id="videoElement"></video>
  <button>{{= i18n('camera.button') }}</button>
  <canvas id="canvasElement" width="640" height="480"></canvas>
</script>
