<script id="CameraView" type="text/html">
  <h1>{{= i18n('camera') }}</h1>
  <video autoplay="true" id="videoElement"></video>
  <br>
  <button class="capture">{{= i18n('camera.button') }}</button>
  <br>
  <canvas id="canvasElement"></canvas>
  <br>
  <button></button>
</script>
