<script id="Layout" type="text/html">
  <!--<header class="col-md-12">
    <nav class="row">
      <ul class="col-md-6 languages">
        <li><a href="/en">english</a></li>
        <li><a href="/es">spanish</a></li>
      </ul>
      <ul class="col-md-6 sections">
        <li><a href="#home"><%= i18n["home"] %></a></li>
        <li><a href="#about"><%= i18n["about"] %></a></li>
      </ul>
    </nav>
  </header>-->
  <!-- .views -->
  <div class="views">loading...</div>
  <!-- end .views -->
</script>
