/*
	RESET
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
	GLOBAL
*/
body {
  font-family: sans-serif;
  background: black;
  color: white; }

button {
  background: black;
  border: 3px solid white;
  padding: 15px;
  color: white;
  letter-spacing: 1px;
  font-family: sans-serif;
  cursor: pointer;
  cursor: hand; }

/*
	VIEWS
*/
/*
	VIEWS
*/
/*
	START PAGE
*/
/*
	PHOTOBOOTH
*/
<<<<<<< HEAD
.PhotoBooth .webcam {
  display: none; }

.PhotoBooth .input {
  display: none; }

.PhotoBooth .buttons {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 100%;
  display: block;
  overflow: visible; }
  .PhotoBooth .buttons li {
    float: left;
    margin: 0 5px;
    display: block; }
    .PhotoBooth .buttons li button {
      display: none; }
      .PhotoBooth .buttons li button.active {
        display: block; }
=======
.PhotoBooth {
  position: relative;
  max-width: 600px;
  max-height: 400px; }
  .PhotoBooth .webcam {
    display: none;
    z-index: 0; }
  .PhotoBooth .input {
    display: none;
    z-index: 1; }
  .PhotoBooth .output {
    position: relative;
    z-index: 2; }
  .PhotoBooth .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none; }
    .PhotoBooth .overlay.active {
      display: block; }
    .PhotoBooth .overlay p {
      width: 100%;
      text-align: center;
      padding: 10px; }
  .PhotoBooth .silhouette-wrapper {
    display: block;
    position: absolute;
    min-width: 600px;
    min-height: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3; }
    .PhotoBooth .silhouette-wrapper .silhouette {
      border: 2px solid blue;
      opacity: 0.5;
      width: 25%;
      height: 50%;
      transform: translate(150%, 50%); }
  .PhotoBooth .buttons {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 4; }
    .PhotoBooth .buttons li {
      float: left;
      margin: 0 5px; }
      .PhotoBooth .buttons li button {
        display: none; }
        .PhotoBooth .buttons li button.active {
          display: block; }
        .PhotoBooth .buttons li button.disabled {
          display: block;
          opacity: 0.5;
          cursor: auto;
          pointer-events: none; }
>>>>>>> origin/master
